<div class="wrapper">
	<div class="pinkDivision">
        <div id="headchefDetails">
            <legend>HEAD CHEF DETAILS</legend>
            <span>HC ID: {{headchefID}}</span>
            <span>NAME : {{username}}</span>
            <span>PHONE: {{phone}}</span>
            <span>EMAIL: {{email}}</span>
        </div>
        <div id="kitchenDetails">
            <legend>KITCHEN DETAILS</legend>
            <span>ID: {{kitchenID}},</span>
            <span>{{nameOfLocation}},</span>
            <span>No. {{locationDoorNumber}},</span>
            <span>{{locationLandmark}}</span>
            <span>{{locationStreet}},</span>
            <span>{{locationCity}},</span>
            <span>{{locationState}},</span>
            <span>{{locationCountry}}.</span>
            <span>PINCODE: {{locationPIN}}</span>
        </div>
	</div>
	<div class="mainDivision">
		<mat-toolbar>
			<span>People Management</span>
    		<span class="spacer"></span>
    		<img class="iconStyler" alt="Home" src="../../../assets/icon_house.png" (click)="goto('kitchen')">
    		<img class="iconStyler" alt="People" src="../../../assets/icon_people-management.png" (click)="goto('people')">
    		<img class="iconStyler" alt="Stock" src="../../../assets/icon_stock.png" (click)="goto('stock')">
        <img class="iconStyler" alt="Profile" src="../../../assets/icon_user.png" (click)="goto('profile')">
		</mat-toolbar>
    <mat-tab-group dynamicHeight="true">
        <mat-tab label="Chefs">
            <div class="example-container mat-elevation-z8">
                <div class="headerDabba">
                  <div class="filterStyler">
                      <mat-form-field floatPlaceholder="never">
                          <input matInput #cfilter placeholder="Filter by Name">
                      </mat-form-field>
                  </div>
                  <span class="spacer"></span>
                  <div class="addPpl">
                    <img class="iconStyler plus" alt="User" src="../../../assets/icon_add.png" (click)="showAddForm('chef')">
                  </div>
                </div>
                <div *ngIf="caddFormFlag" class="addFormStyler">
                  <mat-form-field floatPlaceholder="never">
                    <input matInput #name placeholder="Name">
                  </mat-form-field>
                  <mat-form-field floatPlaceholder="never">
                    <input matInput #email placeholder="E-Mail">
                  </mat-form-field>
                  <mat-form-field floatPlaceholder="never">
                    <input matInput #phone placeholder="Phone">
                  </mat-form-field>
                  <mat-form-field floatPlaceholder="never">
                    <mat-select placeholder="Select Expertise" [(value)]="newChefExpertise">
                      <mat-option *ngFor="let option of expertiseList" [value]="option.value">
                      {{option.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-button (click)="addChef(name.value, email.value, phone.value, newChefExpertise)" class="generateIDButton">GENERATE ID</button>
                  <button mat-button (click)="cancel('chef')" class="saveButton">CANCEL</button>
                </div>
                <div class="editPpl" *ngIf="ceditFlag">
                  <mat-form-field floatPlaceholder="never">
                    <input matInput #name placeholder="Name" [(ngModel)]="tc2">
                  </mat-form-field>
                  <mat-form-field floatPlaceholder="never">
                    <input matInput #email placeholder="E-Mail" [(ngModel)]="tc3">
                  </mat-form-field>
                  <mat-form-field floatPlaceholder="never">
                    <input matInput #phone placeholder="Phone" [(ngModel)]="tc4">
                  </mat-form-field>
                  <mat-form-field floatPlaceholder="never">
                    <input matInput #expertise placeholder="Expertise" [(ngModel)]="tc5">
                  </mat-form-field>
                  <button mat-button (click)="editChef()" class="saveButton">SAVE CHANGES</button>
                  <button mat-button (click)="cancel('chef')" class="saveButton">CANCEL</button>
                </div>
                <div *ngIf="ctableReady">
                  <mat-table [dataSource]="cdataSource">
                      <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef> CHEF ID </mat-header-cell>
                          <mat-cell *matCellDef="let row" #c1> {{row.id}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
                        <mat-cell *matCellDef="let row" #c2> {{row.name}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
                        <mat-cell *matCellDef="let row" #c3> {{row.email}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef> PHONE </mat-header-cell>
                        <mat-cell *matCellDef="let row" #c4> {{row.phone}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="expertise">
                        <mat-header-cell *matHeaderCellDef> EXPERTISE </mat-header-cell>
                        <mat-cell *matCellDef="let row" #c5> {{row.expertise}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="edit">
                        <mat-header-cell *matHeaderCellDef> EDIT </mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="editChefSet(row.id,row.name,row.email,row.phone,row.expertise)"><img class="iconStyler edde" alt="Home" src="../../../assets/icon_edit.png"></mat-cell>
                      </ng-container>                        
                      <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> DELETE </mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="deletePerson(row.id,'chef')"><img class="iconStyler edde" alt="Home" src="../../../assets/icon_house.png"></mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="cdisplayedColumns">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: cdisplayedColumns;" [ngClass]="{'DELETED':(row.id===whichCDelete)}" class="rowStyler">
                      </mat-row>
                  </mat-table>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
	</div>
</div>