<div class="wrapper">
	<div class="pinkDivision">
	</div>
	<div class="mainDivision">
		<form #loginForm="ngForm" (ngSubmit)="checkUser(username.value,password.value)">
		<div class="loginFields form-group">
			<mat-form-field floatPlaceholder="never">
				<input matInput placeholder="Username" #username required>
			</mat-form-field>
			<mat-form-field floatPlaceholder="never">
				<input matInput placeholder="Password" type="password" #password required>
			</mat-form-field>
			<section>
				<button mat-button type="submit" id="continueButton">CONTINUE</button>
			</section>
			{{error}}
		</div>
		</form>
	</div>
</div>