<div class="wrapper">
	<div class="pinkDivision">
	</div>
	<div class="mainDivision">
		<md-toolbar>
			<span>Tasks for the Day</span>
    	<span class="spacer"></span>
    	<img class="iconStyler" alt="Home" src="../../../assets/icon_house.png" (click)="goto('order')">
    	<img class="iconStyler" alt="Profile" src="../../../assets/icon_user.png" (click)="goto('profile')">
   		<img class="iconStyler" alt="Stock" src="../../../assets/icon_store.png" (click)="goto('stock')">
		</md-toolbar>
		<div class="all-orders" *ngIf="all">
			<table border="1" style="margin-left: 8px; margin-top: 18px; margin-bottom: 8px; text-align: center;">
				<tr><td style="background-color: #e6e0e0; color: #e6e0e0;">OOO</td><td>DONE</td></tr>
				<tr><td style="color: #ffffff;">OOO</td><td>TO BE COOKED</td></tr>
			</table>
			<span style="color:#FF5722;font-weight:800;margin-left: 8px; font-size: 16px;">{{message}}</span>
			<md-grid-list cols="3" rowHeight="300px" class="order-grid">
			  <md-grid-tile *ngFor="let tile of tiles" [colspan]="1" [rowspan]="1">
			    <md-card class="order-card" (click)="orderInfo(tile)" [ngClass]="{'DONE':tile.preparation_status==1}">
				  <md-card-header>
				    <md-card-title> ORDER #{{tile.orderID}} </md-card-title>
				    <md-card-subtitle> D.TIME: {{tile.deliveryTime}}</md-card-subtitle>
				    <md-card-title>{{tile.name}}</md-card-title>
				    <md-card-subtitle>QUANTITY: {{tile.qty}}</md-card-subtitle>
				  </md-card-header>
				</md-card>
			  </md-grid-tile>
			</md-grid-list>
		</div>
		<div class="order-info" *ngIf="info">
			<span class="alertIncome" *ngIf="ordersAdded">ALERT: Check new orders!</span>
			<table class="orderInfoTable">
				<tr>
					<th>Ingredient</th>
					<th>Alternative</th>
					<th>Quantity</th>
				</tr>
				<tr *ngFor="let ing of infoData">
					<td>{{ing.ing}}</td>
					<td>{{ing.chosening}}</td>
					<td>{{ing.ingQty}}</td>
				</tr>
				<tr><td colspan="3">
					<button md-button class="updateButton" (click)="updateStatus()"> DONE </button>
				</td></tr>
			</table>
			<button md-button id="backButton" (click)="info=false;all=true"> BACK </button>
		</div>
	</div>
</div>