.wrapper{
	display: flex;
}
.toolbarDivision{
	width: 100%;
}
.pinkDivision{
	background-color: #df1944;
	height:100vh;
	width:35vw;
}
.mainDivision{
	height: 100%;
	width: 100%;
	/*align-self: center;*/
}
/deep/.mat-toolbar{
	color: #df1944;
	font-family: 'Roboto', sans-serif;
}
.iconStyler{
	margin: 0 4px;
	cursor: pointer;
}
.viewSelector{
	width: 100%;
	padding-bottom: 18px;
    border-bottom-style: solid;
    border-bottom-color: rgb(232, 229, 229);
    border-bottom-width: 1px;
}
/deep/.mat-select{
	display: block !important;
    margin: auto;
    width: 50%;
}
/deep/.mat-select-arrow, /deep/.mat-select-disabled /deep/.mat-select-value, /deep/.mat-select-underline, /deep/.mat-select-trigger{
	color: #FFC107 !important;
}
/deep/.mat-select-underline{
	background-color: #FF9800 !important;
}
/deep/.mat-select-trigger{
	color: #FFC107;
}
/deep/.mat-primary, /deep/.mat-option.mat-selected {
    color: #df1944 !important;
}
order-grid{
	width: fit-content;
}
/deep/.mat-card{
	width: 250px;
	height: 300px;
	margin: auto;
}