<div class="wrapper">
	<div class="pinkDivision">
	</div>
	<div class="mainDivision">
		<md-toolbar>
			<span>Orders for the Day</span>
    		<span class="spacer"></span>
    		<img class="iconStyler" alt="Home" src="../../../assets/icon_house.png" (click)="goto('order')">
    		<img class="iconStyler" alt="Profile" src="../../../assets/icon_user.png" (click)="goto('profile')">
    		<img class="iconStyler" alt="Stock" src="../../../assets/icon_store.png" (click)="goto('stock')">
		</md-toolbar>
	</div>
</div>