.wrapper{
	display: flex;
}
.toolbarDivision{
	width: 100%;
}
.pinkDivision{
	background-color: #df1944;
	height:100vh;
	width:35vw;
}
.mainDivision{
	height: 100%;
	width: 100%;
	/*align-self: center;*/
}
/deep/.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}
/deep/.mat-table {
  overflow: auto;
  max-height: 585px !important;
}
.rowStyler.REFILL{
	background-color: rgba(156, 39, 176, 0.36);
}
.requestButton{
	background-color: #673ab7;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
/deep/.mat-toolbar{
	color: #df1944;
	font-family: 'Roboto', sans-serif;
}
.iconStyler{
	margin: 0 4px;
	cursor: pointer;
}
/deep/.mat-table {
  overflow: auto;
  max-height: 560px;
}
/deep/.mat-row{
  align-items: center;
  padding: 2px 12px;
}
/deep/.mat-cell,/deep/.mat-header-cell{
  text-align: center;
}
/deep/.mat-header-row,/deep/.mat-row{
  padding: 0px 8px;
}